body {
  margin:0;

  font-size: 18px;
  font-family: "Verdana";
  background-image: url('https://res.cloudinary.com/cobble/image/upload/v1617642786/PHOTOS%20RECO/2-PHOTOS%20TRAIT%C3%89ES/BOB008149/Capture_d_e%CC%81cran_2021-04-05_a%CC%80_19.11.46.png');
  background-size: cover;
}
#Nuages {
  border: 1px;
}

body {display:flex; min-height:100vh;}
body >div {flex:1;}

.game-intro {
  display:flex; flex-direction:column;
  justify-content:center; align-items:center;
}

.logo-img {
  width: 230px;
}

.arrows-img {
  width: 150px;
}

body button {
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

#game-board {
  padding: 20px 0px;
}
#game-board {position:relative;}
#game-board canvas {
  position:absolute; left:0;top:0;
  width:100%; height:100%;
  object-fit:contain;
}

#gameOver {
  color: #870007;
}